body {
    margin: 0%;
    background-color: white;
}

/* logo */

.logo {
    font-family: "Pacifico", cursive;
    font-weight: 900;
    font-size: 2rem;
    font-style: normal;
    color: #E46F44;
}
  
  
a {
    text-decoration: none;
    color: black;
}
  
/* navbar-section */

.navbar {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 75px;
    font-size: 1.2rem;
    box-shadow: #1f1f1f;
}

.navbar .logo {
  margin-left: 35px;
}

.navbar-options {
    display: flex;
    justify-content: space-between;
    /* padding-right: 10px; */
}

.btnGroupOne a {
  /* color: white; */
  margin: 5px;
  padding-right: 5px;
  font-size: 20px;
  font-weight: 400;
}

.navbar-options i {
  margin-top: 0px;
  margin-right: 10px;
}

.navbar-options button{
  margin-right: 20px;
  height: 40px;
  background-color: #E46F44;
  width: max-content;
  color: white;
  padding: 0.3rem 2.3rem;
  box-shadow: 5px 5px 7px 0px #0000003f;
  font-size: 18px;
  cursor: pointer;
  transition: all 0.5s;
  font-weight: 500;
  border: solid 3px transparent;
  border-radius: 0rem;
  position: relative;
  z-index: 1;
}

/*Login Form*/

.login_form{
    width: 100%;
    height: 90.5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(./488392.webp);
    background-size: cover;
    background-position: center;
}

.login_form h1{
    display: flex;
    color: #E46F44;
    font-weight: 500;
    margin-top: 50px;
    justify-content: center;
    font-family: "Pacifico", cursive;
    font-size: 45px;
}

.login_form .statesbutton{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* padding: 60px; */
}

.login_form .statesbutton p {
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.login_form .statesbutton button{
    flex-wrap: wrap;
    width: 250px;
    color: white;
    padding: 7px 10px;
    border: none;
    border-radius: 5rem;
    font-size: 20px;
    cursor: pointer;
    opacity: 0.8;
    background: linear-gradient(to right, #3f9bf1 , #8f3dec);
}

.login_form .statesbutton button:hover {
    opacity: 1;
}